.signup form .holder {
  display: flex;
  gap: 22px;
}

.signup form .holder .Input_Wrapper {
  width: 300px;
}

.signup .container .back_Button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.signup form .Input_Wrapper2 {
  width: 624px;
}

.signup form .Input_Wrapper3 {
  text-align: center;
}

.signup form .Input_Wrapper3 p {
  text-transform: uppercase;
  font-size: 13px;
}

.signup .container h1 {
  margin-bottom: 0;
}

.signup .container .image img {
  width: 80px;
}

.signup .container .image {
  text-align: center;
}
.signup .container .styled_p {
  font-size: 17px;
  color: gray;
  margin-top: 0;
}

.signup form .Input_Wrapper3 p button {
  background-color: transparent;
  border: none;
  color: #1976d2;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.signup form .Input_Wrapper3 {
  margin-top: 20px;
}

.signup {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: rgb(15, 25, 40);
  background: linear-gradient(
    102deg,
    rgba(15, 25, 40, 1) 58%,
    rgba(25, 118, 210, 1) 100%
  );
}

.signup .imageHolder img {
  width: 100%;
  height: 100%;
}
.signup .imageHolder {
  flex-basis: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup .imageHolder .box {
  background: rgb(25, 118, 210);
  background: linear-gradient(
    102deg,
    rgba(25, 118, 210, 1) 9%,
    rgba(15, 25, 40, 0) 100%
  );
  height: 436px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 71px;
  width: 400px;
}

.signup .imageHolder .box img {
  width: 100px;
  height: 100px;
}
.signup .imageHolder .box h1 {
  font-size: 50px;
}

.signup form {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1112px) {
  .signup .imageHolder {
    display: none;
  }
  .signup {
    justify-content: center;
  }
}

@media (max-width: 656px) {
  .signup form .holder .Input_Wrapper {
    width: 100%;
  }
  .signup form .Input_Wrapper2 {
    width: 100%;
  }
  .signup form .holder {
    flex-direction: column;
    gap: 0;
  }

  .signup {
    height: 100%;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .signup form .Input_Wrapper3 {
    margin-top: 20px;
  }
}
