.newpassword {
  display: flex;
  width: 100%;
  /* background-color: #ecececec; */
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 5;
}

.newpassword .main-app {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  flex: 6;
}

.newpassword .main-app::before {
  position: absolute;
  content: "";
  background: url("/public/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -61%;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 30%;
}

.newpassword ::after {
  position: absolute;
  content: "";
  background: url(/public/blob.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -20%;
  z-index: -1;
  width: 300px;
  height: 300px;
  right: -28px;
}

.newpassword .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-container {
  flex: 6;
}
.newpassword img {
  width: 600px;
}

.newpassword form {
  padding: unset;
  position: relative;
  border: none !important;
  /* margin-bottom: 50px; */
}

.newpassword form h1 > span {
  color: white;
}

.newpassword form h1 {
  color: white;
  letter-spacing: -2px;
  word-spacing: 3px;
}

@media (min-width: 1258px) {
  .newpassword .main-app::before {
    bottom: 0;
  }

  .newpassword .main-app::before {
    right: 0;
    z-index: 5;
    width: 100%;
    height: 30%;
  }
  .newpassword ::after {
    top: -31%;
    z-index: -1;
    width: 250px;
    height: 250px;
    right: -32px;
  }
}

@media (max-width: 1258px) {
  .newpassword .content {
    flex-direction: column;
  }

  .newpassword .main-app::before {
    bottom: -36%;
    right: 0;
    z-index: 5;
    width: 100%;
    height: 20%;
  }
  .newpassword ::after {
    top: -41%;
    z-index: -1;
    width: 300px;
    height: 300px;
    right: -73px;
  }
}

@media (max-width: 1019px) {
  .newpassword .content {
    flex-direction: column;
  }

  /* .main-app::before {
    bottom: -153px;
  }

  .main-app::before {
    height: 9%;
  } */
}

@media (max-width: 495px) {
  .newpassword .content img {
    width: 400px !important;
    margin-bottom: 50px;
  }
  .newpassword ::after {
    top: -29%;
    z-index: -1;
    width: 230px;
    height: 230px;
    right: -15px;
  }

  .newpassword form h1 {
    font-size: 28px;
  }
  /* .newpassword .MuiFormControl-root {
    width: 300px;
    margin-right: auto;
  } */

  /* .css-zddlty-MuiButtonBase-root-MuiButton-root {
    width: 260px !important;
    margin-left: 22px !important;
  } */
}

@media (max-width: 401px) {
  .newpassword .content img {
    width: 343px !important;
  }

  /* .newpassword .MuiFormControl-root {
    width: 260px !important;
  } */

  .newpassword form h1 {
    font-size: 25px;
  }

  /* form::after {
    top: -11%;
    right: 45px;
  } */
}
